#myheader {
    border: 1px solid red;
}

#mynav {
    border: 1px solid red;
}

#myarticle {
    border: 1px solid red;
}

#mysection {
    border: 1px solid red;
}

#myaside {
    border: 1px solid red;
}

#myfooter {
    border: 1px solid red;
}